

<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
       <span>HOME</span> -->
       <!-- <span><a href="/">HOME</a></span>
       <span class="spacer"></span>
       <a  mat-button  routerLink="/registeration">Register</a>
       <a  mat-button  routerLink="/login">Login</a>
    </mat-toolbar-row>
 </mat-toolbar>-->
 <router-outlet></router-outlet> 
  
 <!-- <div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login"> -->
            <!-- {{user2  | json}} -->
            <!-- <form id="LoginForm" #loginform="ngForm" (ngSubmit)="loginUser()">
                <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" name="email1"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user2.email" required #email1="ngModel" required
              [class.is-invalid]="email.invalid && email.touched" >
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" name="password1"  required  [(ngModel)]="user2.password" #password1="ngModel"
              [class.is-invalid]="password.invalid && password.touched">
            </mat-form-field>
            <button mat-button color="primary" type="submit"  [disabled]="loginform.form.invalid" >Login</button>
        </form>
          </mat-tab>
          <mat-tab label="Register">
            <form id="RegisterForm" #RegisterForm="ngForm" (ngSubmit)="RegisterUser()">
            <mat-form-field class="example-full-width"> -->
                <!-- {{user  | json}} -->
              <!-- <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" required #email="ngModel" required
              [class.is-invalid]="email.invalid && email.touched" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" value=""  [(ngModel)]="user.userName" required #userName="ngModel" [ngModelOptions]="{standalone: true}" [class.is-invalid]="userName.invalid && userName.touched">
               
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Cno</mat-label>
                <input type="number" matInput placeholder="Cno" value=""  [(ngModel)]="user.cno" required #cno="ngModel" [ngModelOptions]="{standalone: true}" [class.is-invalid]="cno.invalid && cno.touched">
               
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Division</mat-label>
                <input type="text" matInput placeholder="Division" value="" [(ngModel)]="user.div" required #div="ngModel" [ngModelOptions]="{standalone: true}" [class.is-invalid]="div.invalid && div.touched">
                
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Branch</mat-label>
                <input type="text" matInput placeholder="Branch" value=""  [(ngModel)]="user.branch" required #branch="ngModel"  [ngModelOptions]="{standalone: true}" [class.is-invalid]="branch.invalid && branch.touched">
                
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Admission_Year</mat-label>
                <input type="text" matInput placeholder="Admission_Year" value="" [(ngModel)]="user.admissionYr" required #admissionYr="ngModel"  [ngModelOptions]="{standalone: true}" [class.is-invalid]="admissionYr.invalid && admissionYr.touched">
                
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input type="text" matInput placeholder="Mobile" value=""  [(ngModel)]="user.mobile" required unique [ngModelOptions]="{standalone: true}" #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched">
                
              </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" name="password"  required  [(ngModel)]="user.password" #password="ngModel"
              [class.is-invalid]="password.invalid && password.touched" >
              
            </mat-form-field>
            <button mat-button color="primary" type="submit"   [disabled]="RegisterForm.form.invalid" >Register</button>
        </form>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div> -->
 
 
 
 
 
 
